In [1]:
from pathlib import Path
import sqlite3
from collections import namedtuple

import numpy as np
import sklearn
import pandas as pd
from pandas import Int64Index

In [2]:
path_data = Path('sql')
path_data.mkdir(exist_ok=True)
db_file = path_data / 'db.sqlite'
with sqlite3.connect(str(db_file)) as con:
    df = pd.read_sql(con=con, sql='select s.article_id_1, s.article_id_2, s.permid, s.sklearn, a1.source_id as source_id_1, a2.source_id as source_id_2 from similarities s inner join article a1 on s.article_id_1 = a1.article_id inner join article a2 on s.article_id_2 = a2.article_id')
df.head(5)

   article_id_1  article_id_2  permid   sklearn  source_id_1  source_id_2
0             2             1       0  0.247143            1            1
1             3             1       0  0.434966            1            1
2             3             2       0  0.276686            1            1
3             4             1       0  0.491659            1            1
4             4             2       0  0.359131            1            1

In [3]:
threshold = 0.2
df = df[df.sklearn > threshold]
df = df.sort_values('sklearn', ascending=False)
df = df[df.source_id_1 != df.source_id_2]
df = df.reset_index(drop=True)
# df.article_id_1 = df.article_id_1.astype(int)
# df.article_id_2 = df.article_id_2.astype(int)
# df.source_id_1 = df.source_id_1.astype(int)
# df.source_id_2 = df.source_id_2.astype(int)
df.head(5)

   article_id_1  article_id_2  permid   sklearn  source_id_1  source_id_2
0            36            13       0  0.737309            4            2
1            13             1       0  0.726409            2            1
2            31            11       0  0.701009            4            2
3            37            19       0  0.700437            4            2
4            79            77       0  0.643098            1            4

In [4]:
cliques = []
while len(cliques) < 2 and len(df) >= 4:
    c = [None, None, None, None]

    first_row = df.iloc[0]
    df = df.drop(df.head(1).index)

    c[int(first_row.source_id_1) - 1] = int(first_row.article_id_1)
    c[int(first_row.source_id_2) - 1] = int(first_row.article_id_2)
    c
    index = 0

    while c[0] is None or c[1] is None or c[2] is None or c[3] is None and len(df) > index:
        df = df.reset_index(drop=True)
#         print(index)
        new_row = df.iloc[index]
        if c[int(new_row.source_id_1) - 1] is None and c[int(new_row.source_id_2) - 1] is not None:
            c[int(new_row.source_id_1) - 1] = int(new_row.article_id_1)
            df = df.drop(Int64Index([index+1], dtype='int64'))
        elif c[int(new_row.source_id_1) - 1] is not None and c[int(new_row.source_id_2) - 1] is None:
            c[int(new_row.source_id_2) - 1] = int(new_row.article_id_2)
            df = df.drop(Int64Index([index+1], dtype='int64'))
        else:
            index += 1
    for i in range(4):
        df = df[(df.article_id_1 != c[i]) & (df.article_id_2 != c[i])]
    cliques.append(c)
print(cliques)

[[1, 13, 72, 36], [79, 19, 24, 37]]

In [5]:
with sqlite3.connect(str(db_file)) as con:
    cur = con.cursor()
    cur.execute('DELETE FROM matching')
    [cur.execute('INSERT INTO matching (article_id, group_id) VALUES (?, ?)', (a, i))
     for i, c in enumerate(cliques)
     for a in c]
    con.commit()

In [6]:
df

      article_id_1  article_id_2  permid   sklearn  source_id_1  source_id_2
1               31             3       0  0.628462            4            1
2               73            52       0  0.627555            4            2
3               11             4       0  0.626515            2            1
4               73             4       0  0.616885            4            1
8               25            17       0  0.592265            3            2
9               11             3       0  0.591422            2            1
10              32             3       0  0.590188            4            1
11              33             3       0  0.583866            4            1
12              32             4       0  0.581381            4            1
13              77            53       0  0.572215            4            2
14              73            11       0  0.569534            4            2
15              33             4       0  0.564124            4            1
16              52             4       0  0.562809            2            1
18              33            11       0  0.529128            4            2
19              12             4       0  0.520884            2            1
20              58             4       0  0.509525            2            1
22              32            11       0  0.500381            4            2
23              55             4       0  0.498782            2            1
24              51             4       0  0.495901            2            1
25              73             3       0  0.495116            4            1
27              86            55       0  0.484995            1            2
28              78            12       0  0.483835            4            2
29              34            11       0  0.482741            4            2
30              69            63       0  0.481497            2            3
31              76             4       0  0.476386            4            1
32              86            38       0  0.470169            1            4
33              70             4       0  0.469756            2            1
34              52            31       0  0.462112            2            4
35              75             4       0  0.461581            4            1
36              78             4       0  0.459010            4            1
...            ...           ...     ...       ...          ...          ...
1434            25            15       0  0.202409            3            2
1435            78             2       0  0.202408            4            1
1436            57            48       0  0.202387            2            1
1437            23            17       0  0.202339            3            2
1438            47            17       0  0.202288            1            2
1439            50            30       0  0.202153            1            3
1440            48            14       0  0.201925            1            2
1441            74            17       0  0.201893            4            2
1442            78            26       0  0.201869            4            3
1443            84            52       0  0.201745            1            2
1444            61            49       0  0.201652            3            1
1445            61            47       0  0.201614            3            1
1446            88            68       0  0.201613            3            2
1447            53            40       0  0.201145            2            4
1448            71            16       0  0.201137            3            2
1449            88            14       0  0.200857            3            2
1450            84            76       0  0.200848            1            4
1451            77            49       0  0.200843            4            1
1452            53            48       0  0.200759            2            1
1453            83            53       0  0.200691            1            2
1455            84            70       0  0.200650            1            2
1456            61            15       0  0.200633            3            2
1457            71            39       0  0.200425            3            4
1458            81            16       0  0.200409            1            2
1459            33            18       0  0.200384            4            2
1460            88            78       0  0.200310            3            4
1461            53            23       0  0.200264            2            3
1462            65            45       0  0.200211            3            1
1463            35            16       0  0.200156            4            2
1464            88            57       0  0.200026            3            2

[1303 rows x 6 columns]

In [7]:
cliques

[[1, 13, 72, 36], [79, 19, 24, 37]]